.inputContainer{
    border: solid 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    box-shadow:  1px 1px 1px rgba(0, 0, 0, 0.5);
    width: 20vw;
    height: 50px;
}

.iconCalendar{
    height: calc(20px + 1vw);
    width: calc(20px + 1vw);
    margin-right: 5px;
    background-image: url(../images/calendar.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.coverInput{
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 200;
    width: fit-content;
    letter-spacing: 1px;
    line-height: 50px;
    height: 50px;
    font-size: 1.2vw ;
    padding-left: 1px;
    padding-right: 1px;
    position: relative;
}

.dateContainer{
    display: flex;
    flex-wrap: nowrap;
}

input[type=date]::-webkit-calendar-picker-indicator
{
    width: 100%;
    margin-left:0%;
    height: 50px;
}

.dateInput{
    width: 20vw;
    height: 50px;
    opacity: 0;
    position: absolute;
    padding-left: 0;
}

@media (max-width: 768px){
    .iconCalendar{
        height: calc(25px + 1vw);
        width: calc(25px + 1vw);
    }

    .coverInput{
        font-size: 4vw;
    }

    .inputContainer{
        justify-content: space-evenly;
        margin-bottom: 15%;
        width: 90vw;
        height: 50px;
        
    }
    .dateInput{
        width: 90vw;
        height: 50px;
        
    }
    input[type=date]::-webkit-calendar-picker-indicator
    {
        width: 100%;
        margin-left:0%;
        height: 100px;
    }
    
}
