/*------------------------------------------*/
/*--------COMUN A AMBOS INDICADORES--------*/
/* ---------------------------------------*/

/* TEXTO DEL ENCABEZADO DEL INDICADOR */
.indicatorText{
    width:fit-content;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-left: 50px;
    margin-top:1%;
    position: relative;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.6);
}

/*------------------------------------------*/
/*-----------INDICADOR A (T.R.R)-----------*/
/* ---------------------------------------*/

/* CONTENEDOR PRINCIPAL DEL INIDCADOR A */
.indicatorContainerA{
    box-shadow:  3px 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 20vw;
    height: 100px;
}

/* ICONO DEL INDICADOR A*/
.iconIndicatorA{
    margin-top: 0.2%;
    margin-left: 0.2%;
    text-align: start;
    background: url(../images/trr.png);
    background-repeat: no-repeat;
    background-size: contain;
    width:40px;
    height: 40px;
    position: absolute;  
}

/* LOS DATOS QUE MUESTRA EL INDICADOR A*/
.dataContainerA{
    margin-top: -7%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: calc(25px + 1vw);
    font-weight: 900;   
}


/*------------------------------------------*/
/*---------INDICADOR B (RECOVERED)---------*/
/* ---------------------------------------*/

/* CONTENEDOR PRINCIPAL DEL INIDCADOR B */
.indicatorContainerB{
    box-shadow:  3px 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 20vw;
    height: 100px;
    position: relative;
}

/* ICONO DEL INDICADOR B*/
.iconIndicatorB{
    margin-top: 2%;
    margin-left: 2%;
    text-align: start;
    background: url(../images/recycling.png);
    background-repeat: no-repeat;
    background-size: contain;
    width:30px;
    height: 30px;
    position: absolute;
}

/* CONTENEDOR PARA LOS DATOS + LAS UNIDADES */
.indicatorData{
    margin-top: -7%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-end;
}

/* LOS DATOS QUE MUESTRA EL INDICADOR B*/
.dataContainerB{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: calc(25px + 1vw);
    font-weight: 900;
}

/* LAS UNIDADES DE LOS DATOS DEL INDICADOR B*/
.kgSymbol{
    margin-bottom: 1%;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: calc(10px + 0.8vw);
    font-weight: 400;
    align-self: flex-end;
}

/* VERSION MOVIL Y TABLETS */
@media (max-width: 950px){

    .indicatorContainerA{
        width: 80vw;
        height: 100px;  
        margin-bottom: 1%;  
    }

    .indicatorContainerB{
        width: 80vw;
        height: 100px;   
    }
    
}
